# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# O/S related
.DS_Store
.idea/
.vscode/
*.iml

# Android related
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/

# Web related
web/.dart_tool/

# Linux related
linux/flutter/ephemeral/

# MacOS related
macos/Flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/

# Other
*.log
*.lock

# Firebase/Google Services (should be added manually per environment)
#android/app/google-services.json
#ios/Runner/GoogleService-Info.plist
